.categorias-container-modelo {
    background-color: var(--fundo);
    color: var(--branco);
    
    ul {
        list-style-type: none !important;
    }

    .pill2 {
        color: var(--branco) !important;
        background-image: linear-gradient(var(--titulo-bg), var(--titulo-bg)) !important;
        border-radius: 500px !important;
        border-width: 0 !important;
        box-shadow: rgba(0, 0, 0, .25) 0 1px 3px, rgba(0, 0, 0, .12) 0 4px 10px !important;
        box-sizing: border-box !important;
        cursor: pointer !important;
        display: inline-block !important;
        line-height: 1.5 !important;
        font-weight: 500 !important;
        margin: 0 !important;
        overflow: hidden !important;
        padding: .3em 1em !important;
        text-decoration: none !important;
        text-overflow: ellipsis !important;
        vertical-align: baseline !important;
        white-space: nowrap !important;
    }

    .pill2:hover {
        filter: brightness(1.1) !important;
        outline: 0 !important;
    }
}